.salesContainer {
  padding: 56px 40px 33px;
  overflow-y: auto;
  width: 100%;
}

.topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 350px;
    
    margin-bottom: 40px;
}

.GlobalSearchFieldContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding: 15px 22px;
  width: 100%;
  
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.GlobalSearchFieldContainer input {
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ADA7A7;
}

.GlobalSearchFieldContainer svg {
  align-self: center;
  
  color: #ADA7A7;
}

.iconProfileContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.profileAvatar,
.iconBell {
  width: 52px;
  height: 52px;
}

.profileAvatar{
  border-radius: 10px;
  background-image: url("/public/profile-picture.png"); 
  background-size: cover;
}

.ellipse{
  position: absolute;
  left: 90.38%;
  top: -5.97%;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: #FFBC0F;
}

.iconBell{
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
}

.iconBell svg {
  width: 17.81px;
  height: 17.6px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: #ADA7A7;
}


.salesInformationText {
  margin-bottom: 40px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color:var(--black);
}

.salesSearchFields{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  
  margin-bottom: 40px;
  
}

.customerSearch,
.invoiceSearch,
.startDateSearch,
.endDateSearch {
display: flex;
flex-direction: column;

width: 100%;

line-height: 24px;

}

.customerSearch label {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color:var(--black);
}

.customerSearch input {

  background: #FFFFFF;
  border: 1px solid rgba(19, 19, 19, 0.25);
  border-radius: 3px;
}

.invoiceSearch label{ 
  margin-bottom: 16px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  
  color:var(--black);
}

.invoiceSearch input{
  background: #FFFFFF;
  border: 1px solid rgba(19, 19, 19, 0.25);
  border-radius: 3px;  
}

.startDateSearch label{
  margin-bottom: 16px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color:var(--black);  
}

.startDateSearch input{
  background: #FFFFFF;
  border: 1px solid rgba(19, 19, 19, 0.25);
  border-radius: 3px;  
}

.endDateSearch label {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color:var(--black);  
}

.endDateSearch input{
  background: #FFFFFF;
  border: 1px solid rgba(19, 19, 19, 0.25);
  border-radius: 3px;  
}

.customerSearch input,
.invoiceSearch input,
.startDateSearch input,
.endDateSearch input {
  padding: 13px 24px;  
}

.customerSearch input::placeholder,
.invoiceSearch input::placeholder,
.startDateSearch input::placeholder,
.endDateSearch input::placeholder {  
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: rgba(19, 19, 19, 0.6);
}
