
.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    
    width: 230px;
    height: 100vh;
  
    background: var(--white) ;
  }
  
  .logo {
    margin: 55px 29px 65px;
    
    width: 71px;
    height: 36px;
  
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #013CC6;
  }
  
  .sideBarContainer {
    display: grid;
    grid-template-columns: 43px 37px auto;
    grid-template-rows: repeat(7, 24px);
    column-gap: 0px;
    row-gap: 41px;
    justify-items: start;
    align-items: center;
    justify-content: start;
  
    height: inherit;
  }
  
  .active {
    width: 3px;
    height: 39px;
   
    background-color:var(--main--color);
  }
  
  .dashBoardIconContainer {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    
    width: 20px;
    height: 20px;
  }
  
  .dashBoardIcon1 {
    width: 8.5px;
    height: 8.49px;
    
    background-color: var(--main--color);  
  }
  
  .dashBoardIcon2 {
    width: 8.5px;
    height: 8.49px;
    
    background-color: var(--main--color);  
  }
  .dashBoardIcon3 {
    width: 8.5px;
    height: 8.49px;
    
    background-color: var(--main--color);  
  }
  .dashBoardIcon4 {
    width: 8.5px;
    height: 8.49px;
  
    background-color: var(--main--color);  
  }
  .dashBoardText {
    width: 92px;
    height: 24px;
   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--main--color);
  }
  .labTestIcon{
    grid-column: 1/3;
    justify-self: end;
    
    margin-right: 17px;
    
    width: 20.01px;
    height: 18.88px;    
  }
  .labTestText {
    width: 69px;
    height: 24px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--black);
    mix-blend-mode: normal;
  }
  .appointmentIcon {
    grid-column: 1/3;
    justify-self: end;
    margin-right: 17px;
  
    width: 20.01px;
    height: 18.88px;   
  }
  .appointmentText {
    width: 109px;
    height: 24px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .medicineIcon {
    grid-column: 1/3;
    justify-self: end;
  
    margin-right: 17px;
    
    width: 20.01px;
    height: 18.88px;  
  }
  
  .medicineOrderText {
    width: 127px;
    height: 24px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .messageIcon {
    grid-column: 1/3;
    justify-self: end;
  
    margin-right: 17px;
    
    width: 20.01px;
    height: 18.88px;  
  }
  .messageText {
    width: 74px;
    height: 24px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .paymentIcon {
    grid-column: 1/3;
    justify-self: end;
  
    margin-right: 17px;
    
    width: 20.01px;
    height: 18.88px;  
  }
  .paymentText {
    width: 74px;
    height: 24px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .settingIcon {
    grid-column: 1/3;
    justify-self: end;
    
    margin-right: 17px;
  
    width: 20.01px;
    height: 18.88px;  
  }
  .settingsText {
    width: 67px;
    height: 24px;
   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .helpIcon{
    margin-bottom: 30px;
    grid-column: 1/3;
    align-self: end;
    justify-self: end;
    
    margin-right: 17px;
    
    width: 20.01px;
    height: 18.88px;
  }
  .helpText {
    margin-bottom: 30px;
    align-self: end;
    
    width: 37px;
    height: 24px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  