
.sideBar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-right: 20px;
    background: var(--white) ;
  }
  
  .logo {
    margin: 55px 29px 65px;
      
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #013CC6;
  }
  
  .sideBarContainer {
    display: grid;
    grid-template-columns: 43px 37px auto;
    grid-template-rows: repeat(7, 24px);
    align-items: center;
    align-content: stretch;
    row-gap: 20px;

    padding-bottom: 33px;
   
    height: 100%;  
    width: 100%;
  }
  
  .active {
    width: 3px;
    height: 39px;
   
    background-color:var(--main--color);
  }
  
  .dashBoardIconContainer {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    
    width: 20px;
    height: 20px;
  }
  
  .dashBoardIcon1 {
    width: 8.5px;
    height: 8.49px;
    
    background-color: var(--main--color);  
  }
  
  .dashBoardIcon2 {
    width: 8.5px;
    height: 8.49px;
    
    background-color: var(--main--color);  
  }
  .dashBoardIcon3 {
    width: 8.5px;
    height: 8.49px;
    
    background-color: var(--main--color);  
  }
  .dashBoardIcon4 {
    width: 8.5px;
    height: 8.49px;
  
    background-color: var(--main--color);  
  }
  .dashBoardText {
   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--main--color);
  }
  .labTestIcon{
    grid-column: 1/3;
    justify-self: end;
    
    margin-right: 17px;
    
 }
  .labTestText {
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--black);
    mix-blend-mode: normal;
  }
  .appointmentIcon {
    grid-column: 1/3;
    justify-self: end;
    margin-right: 17px;
   
  }
  .appointmentText {
       
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .medicineIcon {
    grid-column: 1/3;
    justify-self: end;
  
    margin-right: 17px;
    
     
  }
  
  .medicineOrderText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .messageIcon {
    grid-column: 1/3;
    justify-self: end;
  
    margin-right: 17px;
  }
  .messageText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .paymentIcon {
    grid-column: 1/3;
    justify-self: end;
  
    margin-right: 17px;
  }
  .paymentText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .settingIcon {
    grid-column: 1/3;
    justify-self: end;
    
    margin-right: 17px;
  }
  .settingsText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  .helpIcon{
    grid-column: 1/3;
    justify-self: end;
    align-self: flex-end;
    
    margin-right: 17px;
  }
  .helpText {
    align-self: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--sealbrown);
  }
  